{% extends "../base.html" %}
{% block title %}Sell History{% endblock title %}{% block css %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css"
/>
{% endblock css %}
{% block content %}
<section id="profile">
    
    <div class="container my-5 p-5">
      <h1 class="text-center">Purachase <span>History</span></h1>
      <table id="myTable" class="display">
        <thead>
          <tr>
            <th>User</th>
            <th>Product</th>
            <th>Date</th>
            
          </tr>
        </thead>
        <tbody>
          {% for data in history %}
             <tr>
              <td>{{ data.product}}</td>
              <td>{{ data.quantity}}</td>
              <td>{{ data.created_at}}</td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</section>
<!-- Modal -->

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myTable").DataTable({
      responsive: true,
    });
  });
</script>
{% endblock script %}