{% extends '../base.html' %} 
{% block css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css" />
<style>
    #profile{
        width: 100%;
        overflow-x: scroll;
    }
</style>
{% endblock css %}
{% block title %}Network Page{% endblock title%} 
{% block content %}
<section id="profile">
  <div class=" p-5 my-5">
    {% include "template.html" %}
  </div>
  
</section>
{% endblock content %}
{% block script %}
<script>
    $(document).ready( function () {
        $('#myTable').DataTable( {
            responsive: true
        } );
} );
</script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
{% endblock script %}