{% extends "../base.html" %}
{% block title %}Repurchase Reward{% endblock title%} 
{% block css %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css"
/>
<style>
  img{
    box-shadow: none !important;
    mix-blend-mode: multiply;
  }
</style>
{% endblock css %}
{% load mathfilters %}
{% block content %}
<section id="profile">
    <div class="container my-5">
      <h1 class="text-center">Rank</h1>
      <hr>
      <div class="d-flex justify-content-between">
        <div class="d-flex gap-2 align-items-center">
          <h3>Star</h3>
          {% if is_star == True %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-yes.svg" class="" alt=""> {% else %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-no.svg" alt="">{% endif %}
        </div>
        <div class="d-flex gap-2 align-items-center">
          <h3>Gold</h3>
          {% if is_gold == True %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-yes.svg" class="" alt=""> {% else %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-no.svg" alt="">{% endif %}
        </div>
        <div class="d-flex gap-2 align-items-center">
          <h3>Diamond</h3>
          {% if is_diamond == True %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-yes.svg" class="" alt=""> {% else %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-no.svg" alt="">{% endif %}
        </div>
        <div class="d-flex gap-2 align-items-center">
          <h3>Chairman</h3>
          {% if is_chairmain == True %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-yes.svg" class="" alt=""> {% else %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-no.svg" alt="">{% endif %}
        </div>
      </div>
      <hr>
      <div class="d-flex py-5 justify-content-between">
        <div>
          
          <h3>My BV: <span id="myBV">{{ mybv }}</span></h3>
          
        </div>
        <div>
            
            <h3>Team BV: <span id="teamBV">{{ mybv }}</span></h3>
            
          </div>
          <div>
           
            <h3>Total BV: <span class="totalbv">{{ data_count }}</span></h3>
           
          </div>
         
        </div>
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Team Name</th>
              <th>BV</th>
            </tr>
          </thead>
          <tbody>
            {% for team in teams %}
               <tr>
                <td>{{ team.teammate }}</td>
                <td><span class="bv">{{ team.Total}}</span></td>
               </tr>
            {% endfor %}
       
           
          </tbody>
        </table>
      </div>
</section>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myTable").DataTable({
      responsive: true,
    });
  });
     // Calculate and display the total income
    var totalIncome = 0;
    var bv = $("#myBV").text();


    $("table tbody tr").each(function () {
    var income = parseInt($(this).find(".bv").text());
    
   

    totalIncome += income;
    });

    $(".totalbv").text(totalIncome + parseInt(bv));
    $("#teamBV").text(totalIncome );

</script>
{% endblock script %}

