{% extends "../base.html" %}
{% block title %}Level Page{% endblock title %} 
{% block css %}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css"
/>
{% endblock css %}
{% load mathfilters %}
{% block content %}
<section id="profile">
    <div class="container my-5">
        <div class="d-flex justify-content-between">
          <div>
            {% with data_count=all_level_data|length %}
                <h1>Total Member: <span>{{ data_count }}</span></h1>
            {% endwith %}
        </div>
        <div>
            {% with data_count=all_level_data|length %}
                <h1>Total Income: <span>{{ total_income }}</span></h1>
            {% endwith %}
        </div>
        
        </div>
        <table id="myTable" class="display">
          <thead>
            <tr>
              <th>Name</th>
              <th>Parent</th>
              <th>Sponsor</th>
              <th>Leg</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            {% for data in all_level_data %}
               <tr>
                <td>{{ data.name|default:"N/A" }} <br> {{ data.phone|default:"N/A" }}</td>
                <td>{{ data.parent|default:"N/A" }} <br> {{ data.parent.user|default:"N/A" }}</td>
                <td>{{ data.sponsor|default:"N/A" }} <br> {{ data.sponsor.user|default:"N/A" }}
                </td>
                <td>{{ data.leg|default:"N/A" }}</td>
                <td>{% if data.status == True %} <img src="{{request.path}}/static/admin/img/icon-yes.svg" alt=""> {% else %} <img src="https://shreemaadurgamlm.com/static/admin/img/icon-no.svg" alt="">{% endif %}</td>
               </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</section>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myTable").DataTable({
      responsive: true,
    });
  });
</script>
{% endblock script %}
